.App {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.box {
  background-color: blueviolet;
  width: 18rem;
  height: 9rem;
  margin: 160px auto;
}
.box h1 {
  margin: auto;
  text-align: center;
}
